node_modules/

# Android build artifacts
android/app/build/
android/.gradle/
android/local.properties
android/*.iml
android/.idea/

# iOS build artifacts
ios/App/build/
ios/App/Pods/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
